logs
project/project
project/target
target
public
#test
gradle
.gradle
build
tmp
.history
agent-pro.ipr
agent-pro.iml
agent-pro.iws
dist
/.idea
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.settings/*
.settings/org.eclipse.jdt.core.prefs
/bin/
velocity.log*
application-log-*.gz
dp_master.csv
conf/templates.conf
.DS_Store
*.log
.env
.cache-main
.cache-tests
localanil.sh
